---
import Layout from "@components/Layout.astro";

import { Content } from "../content/about.md";


---

<Layout>
    <div class="max-w-[624px] mx-auto pt-[32px]">
       <div class="prose prose-li:text-primary prose-li:font-post prose-li:text-[19px] prose-headings:font-semibold prose-headings:text-[26px] prose-headings:leading-[30px] prose-headings:font-title prose-p:text-[19px] prose-p:leading-[30px] prose-headings:text-primary prose-p:text-primary prose-p:font-post ">
            <Content /> 
       </div>
    </div>
</Layout>
