---
import Layout from "@components/Layout.astro";

import { Content } from "../content/about.md";


---

<Layout>
    <div class="max-w-[624px] mx-auto pt-[32px]">
       <div class="prose">
            <Content />
       </div>
    </div>
</Layout>
