---
import Layout from "../components/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";

const classBadge = "bg-transparent inline-flex items-center  rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2  bg-secondary text-secondary-foreground hover:bg-secondary/80"
---

<Layout>
    <div class="max-w-156 mx-auto pt-3 pb-8 px-4 w-full box-content">
        <div class="flex flex-col">
           <ProjectCard />
           <div class="p-2"> <div class="border-b border-gray w-full"></div> </div>
           <ProjectCard />
           <div class="p-2"> <div class="border-b border-gray w-full"></div> </div>
           <ProjectCard />
        </div>
    </div>
</Layout>
