---
import Layout from "../components/Layout.astro";
import { Image } from "astro:assets";
import SrcImage from "../content/projects.jpg"
---

<Layout>
    <div class="mx-auto max-w-64 pt-4">
        <Image src={SrcImage} alt="image side" />
    </div>
</Layout>	
