<footer class="h-40 bg-footer mt-8 border-t-footer-border border-t">
    <div class="flex items-center h-full">
        <ul class="w-7xl mx-auto px-2">
            <li class="text-sm text-[#808587] mt-2">
                <a class="line" href="/owner-archive/">About</a>
            </li>
              <li class="text-sm text-[#808587] mt-2">
                <a href="/owner-archive/">Archive</a>
            </li >
              <li class="text-sm text-[#808587] mt-2">
                <a href="/owner-archive/">Sitemap</a>
            </li>
        </ul>
    </div>
</footer>