<footer class="bg-footer mt-8 border-t-footer-border border-t pt-7 pb-4">
    <div class="flex h-full mx-auto">
        <div class="w-7xl mx-auto text-sm text-[#808587] flex justify-center">
            <span class="underline">
                <a class="line" href="/owner-archive/">About</a>
            </span>
            <span class="w-[11.05px] text-center"> · </span>
              <span class="underline">
                <a href="/owner-archive/">Archive</a>
            </span >
            <span class="w-[11.05px] text-center"> · </span>
              <span class="underline">
                <a href="/owner-archive/">Sitemap</a>
            </span>
        </div>
    </div>
    <div class="px-2 pt-2">
        <p class="text-sm text-center text-[#808587]">
        <span>© 2026 Owner</span>    
            <a href="https://github.com/mycahfn" class="underline">Github</a></p>
    </div>
</footer>