---

import ShareButton from "./ShareButton.astro";
import SearchButton from "./SearchButton.astro";

const TITLE = "Owner Website";

const MENU_ITEMS = [
    { name: "Home", href: "/" },
    { name: "Projects", href: "/projects" },
    { name: "Archive", href: "/archive" },
    { name: "About", href: "/about" },
];

const currentPath = new URL(Astro.request.url).pathname;
---

<header class="flex flex-col items-center justify-center border-bottom">
    <div class="flex h-[71px] items-center justify-between border-bottom w-full p-[20px]">
        <div>
            
        </div>
        <div>
            <h1 class="text-2xl font-bold">{TITLE}</h1>
        </div>
        <div class="flex gap-2">
            <ShareButton />
            <SearchButton />
        </div>
    </div>
    <nav class="h-[48px] w-full">
        <ul class="flex justify-center items-center h-full">
            {MENU_ITEMS.map((item) => {
                const isActive = item.href === currentPath;
                return (
                    <li class={`menu-item ${isActive ? 'selected' : ''}`} >
                        <a
                            href={item.href}
                            aria-current={isActive ? "page" : undefined}
                        >
                            {item.name}
                        </a>
                    </li>
                );
            })}
        </ul>
    </nav>
</header>
