---
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, ""); 
---

<div class="px-2 pt-3">
    <div class="flex relative min-h-100">
        <div class="absolute w-full h-full flex">
            <div class="rounded-tl-sm rounded-bl-sm overflow-hidden flex relative" style="flex: 1">
                <div class="absolute inset-0">
                    <img
                    src="/owner-archive/placeholder/background-hero.webp"
                    class="w-full h-full object-cover block overflow-hidden scale-x-[-1] aspect-hero rounded-tr-sm rounded-br-sm"
                    alt="Hello?"
                />
                </div>
            </div>
            <div class="flex-none" style="width: 711px;">
                <img
                    src={`/owner-archive/placeholder/background-hero.webp`}
                    class="w-full h-full object-cover block aspect-hero rounded-tr-sm rounded-br-sm"
                    alt="Hello?"
                />
            </div>
            <div
                class="absolute inset-0 rounded-sm"
                style="background: linear-gradient(90deg, #0009, #0000)"
            >
            </div>
            <div class="blurOverlay absolute inset-0"></div>
        </div>
    </div>
</div>
