---
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");
---

<div class="px-2 pt-3">
  <div class="flex relative min-h-100">
    <div class="flex absolute w-full h-full rounded-sm">
      <div class="flex flex-[1px] relative">
        <div
          class="flex relative flex-[1px] rounded-tl-sm rounded-bl-sm overflow-hidden"
        >
          <div
            class="aspect-hero absolute rounded-sm right-0 top-0 bottom-0"
            style="transform: scaleX(-1)"
          >
            <div class="max-h-none rounded-sm">
              <img
                src="/owner-archive/placeholder/background-hero.webp"
                class="h-full w-full aspect-hero max-h-[inherit] rounded-sm"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex-none" style="width: 711px;">
        <picture class="max-height-[inherit]">
          <img
            src="/owner-archive/placeholder/background-hero.webp"
            class="w-full h-full object-cover block aspect-hero rounded-tr-sm rounded-br-sm"
            alt="Hello?"
          />
        </picture>
      </div>
      <div
        class="absolute inset-0 rounded-sm"
        style="background: linear-gradient(90deg, #0009, #0000)"
      >
      </div>
      <div class="blurOverlay absolute inset-0 rounded-sm"></div>
    </div>
    <div class="flex absolute h-full w-full pointer-events-none">
      <div class="dark-theme" style="display: contents;">
        <div class="flex flex-[1px]">
          <div class="flex flex-col justify-end p-12">
            <div class="flex flex-col gap-6">
              <div class="flex flex-col gap-2">
                <h2 class="text-[#EEEEEE] text-3xl font-semibold font-title" style="-webkit-box-orient: vertical;display: -webkit-box;overflow: hidden;-webkit-line-clamp: 3;">Interpreting Watching T.V. by Magdalena Bay</h2>
                <div class="text-[#EEEEEE] ">
                  "Everywhere you go, you take yourself, that's not a lie."
                </div>
                <div class="flex flex-[1px]"></div>
              </div>

              <div class="flex gap-4 pointer-events-auto items-center">
                <button>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right"
                  >
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                </button>
                <div>READ THE LASTEST</div>
              </div>
            </div>
            <div class="pointer-events-auto gap-4 flex items-center"></div>
          </div>
        </div>
      </div>
       <div class="flex pointer-events-none flex-[1px]"></div>
    </div>
   
  </div>
</div>
